# Kconfig - STM32F4DISCOVERY board configuration
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_LPC1768_LANDTIGER

config BOARD
	default lpc1768_landtiger

if UART_CONSOLE

config UART_LPC17xx_PORT_1
	def_bool y

endif # UART_CONSOLE

endif # BOARD_LPC1768_LANDTIGER
